# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/__pycache__/

.env

# Managed Mem
managed_mem.json
managed_mem copy.json

# Misc / Extra
ui_ux_team/prototype_r/assets_d
ui_ux_team/prototype_r/button_test.py

mood_readers/data/mp3_metadata_analyzed.json
mood_readers/data/mp3_metadata.json
mood_readers/data/test_transcript.json
mood_readers/data/mood_tags_test.json
mood_readers/data/mood_playlists.json

# Intermiedary fast process files
mood_readers/organize_mood_music.py
mood_readers/process_camelot.py
mood_readers/create_mood_playlists.py

# Keyring setup (Linux ONLY)
setup_keys.py
.aider*

# Large music collection for testing ONLY
mood_music_collection

# Music d experiments temp
music_librarians/query_sites
music_librarians/temp_music
music_librarians/yt_dlp_test

# To Organize
mood_readers/deep_purple_smoke_on_the_water.wav
architects/audio_capture_demos.ipynb
architects/design_docs/audio_components.md
architects/design_docs/duplicate_components.md
architects/helpers/crypto_utils.py
architects/helpers/native_wave_player.py
architects/helpers/proc_player.py
architects/helpers_capture_app/
architects/system_recorders/
ui_ux_team/prototype_r/rnnt_models/
transcribers/ai_studio_transcriber.py
transcribers/test_ai_studio_transcriber.py
ui_ux_team/prototype_r/test_transcript.txt
ui_ux_team/prototype_r/blue_bird_chat_streamlit.py

# TEMP (TBD)
audio.ulaw
decoded.wav
architects/system_recorder_cli.py
architects/helpers/out.wav
mood_readers/api_tests.py
mood_readers/mood_reader.py
mood_readers/test.wav
mood_readers/data/mp3_metadata_analyzed_out.json
mood_readers/data/system_prompt.json
ui_ux_team/prototype_r/audio_learn_play.py
ui_ux_team/prototype_r/audio_learn_record_mic.py
ui_ux_team/prototype_r/audio_learn_record_speakers_mult.py
ui_ux_team/prototype_r/audio_learn_record_speakers.py
ui_ux_team/prototype_r/categorize_music.py
ui_ux_team/prototype_r/chunk_combined_stereo.wav
ui_ux_team/prototype_r/chunk_combined.wav
ui_ux_team/prototype_r/chunk_mic.wav
ui_ux_team/prototype_r/chunk_spk.wav
ui_ux_team/prototype_r/mic.wav
ui_ux_team/prototype_r/out.wav
ui_ux_team/prototype_r/packet_manager.py
ui_ux_team/prototype_r/playback.wav
ui_ux_team/prototype_r/py_learn_changes.md
ui_ux_team/prototype_r/rnn_t_onnx_whisper.py
ui_ux_team/prototype_r/rnn_t_onnx.py
ui_ux_team/prototype_r/temp.wav
ui_ux_team/prototype_r/testing.ipynb
ui_ux_team/prototype_r/testing2.ipynb
ui_ux_team/prototype_r/todos.md
