# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/__pycache__/
.env
.aider*

# Managed Mem
managed_mem.json
ui_ux_team/prototype_r/transcripts
ui_ux_team/prototype_r/transcripts_translated

# Large music collection for testing ONLY
music_collection
mood_music_collection
mood_music_collection.zip

# Binary
build/
dj-blue-ai.spec
requirements-all.txt
config
